.click_btn {
  background-color: #009688;
  color: #fff;
}
.layui-table-body {
  height: auto!important;
}
.Identification {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 30px;
  z-index: 100;
  border: 1px solid gray;
  background: #fff;
  text-align: center;
  cursor: pointer;
}
.Identification .layui-icon {
  font-size: 20px;
}
#mapid {
  width: 103%;
  height: 909px;
  margin: -15px;
}
.changePassword .pwd {
  margin-bottom: 15px;
}
.changePassword .pwd span {
  display: inline-block;
  width: 66px;
  margin-right: 20px;
}
div,
a {
  font-size: 13px!important;
}
.select_type_box {
  width: 171px;
  height: 28px;
  line-height: 30px;
  margin: 0 0 0 25px;
  padding-left: 10px;
  border: 1px solid #ddd;
  color: #757575;
}
.select_type_box .select_type {
  font-size: 13px;
  margin-right: 19px;
}
.select_type_box .select_role,
.select_type_box .police_role {
  border: none;
  margin-top: 4px;
}
.btn-primary {
  border-radius: 3px;
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
  padding: 6px 12px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}
