.layui-header {
  z-index: 1000;
  height: 60px;
  background-color: #23262E;
}
.layui-header .layui-main {
  margin: 0;
}
.layui-header .layui-main .logo {
  color: #fff;
  float: left;
  line-height: 60px;
  font-size: 20px;
  padding: 0 25px;
  text-align: center;
  width: 300px;
}
.layui-header .layui-main .hideMenu {
  float: left;
  width: 20px;
  height: 20px;
  margin: 15px 15px 0 0;
  font-size: 17px;
  text-align: center;
  padding: 5px 5px;
  color: #fff;
  background-color: #1AA094;
}
.layui-header .layui-main .layui-nav {
  background: 0 0;
  background-color: inherit !important;
}
.layui-header .layui-main .top_menu {
  position: absolute;
  right: 0;
  background: none;
}
.layui-header .layui-main .top_menu .layui-nav-item[mobile] {
  display: none;
}
.layui-header .layui-main .top_menu .layui-nav-bar {
  top: 60px !important;
  background-color: rgba(0, 0, 0, 0.7);
  left: 82.5px;
  width: 0px;
  opacity: 0;
}
