.click_btn {
  background-color: #009688;
  color: #fff;
}
.layui-table-body {
  height: auto!important;
}
#mapid {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 900px;
}
.changePassword .pwd {
  margin-bottom: 15px;
}
.changePassword .pwd span {
  display: inline-block;
  width: 66px;
  margin-right: 20px;
}
