.layui-bg-cyan {
    background: url(../img/bg1.jpg) no-repeat;
}
.login{
	height: 300px;
    width: 260px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -150px 0 0 -150px;
    z-index: 99;
    .btitle{
	    margin-left: -105%;
        margin-bottom: 15%;
    }
    .layui-input{
	    display: block;
	    width: 100%;
	    padding-left: 10px;
	}
	.layui-input {
	    height: 38px;
	    line-height: 1.3;
	    border-width: 1px;
	    border-style: solid;
	    background-color: #000;
	    border-radius: 2px;
	    color: #36ffff;
	    border: 1px solid #08aed8;
	    opacity: .8;
	}

	input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
		-webkit-text-fill-color: #36ffff !important;
		-webkit-box-shadow: 0 0 0px 1000px #000  inset !important;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
	    color: #36ffff;
	}
    .layui-form-item {
	    margin-bottom: 15px;
	    clear: both;
	}
	.login-captcha-innerbox {
	    width: 100%;
	    position: relative;
	}
	#captcha {
	    font-size: 13px;
	    line-height: normal;
	    height: 40px;
	    color: #36ffff;
	}
	.cpatcha-img {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin-right: 66px;
	    width: 25%;
	    height: 38px;
	    line-height: 55px;
	    text-align: center;
	    padding: 0;
	    box-sizing: border-box;
	}
	#aptcha_refresh {
	    position: absolute;
	    display: block;
	    top: 0;
	    right: -8px;
	    width: 66px;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    box-sizing: border-box;
	    color: #f02828;
	    font-size:14px;
	}
	.changePwd{
		a{
			font-size:14px;
			color:#aaa;
		}
	}
	.layui-btn {
	    display: inline-block;
	    width:90%;
	    height: 38px;
	    line-height: 38px;
	    padding: 0 18px;
	    background-color: #48fbff;
	    white-space: nowrap;
	    text-align: center;
	    font-size: 14px;
	    border: none;
	    border-radius: 2px;
	    cursor: pointer;
	    letter-spacing: 10px;
	}
	.userName{
		padding-left:10px;
		color:#fff;
		font-size: 14px;
		text-align: top;
	}
	.forgetPwd{
		float:right;
		padding-left:10px;
		color:#fff;
		font-size: 14px;
	}
}

