.navbar {
    margin-bottom: 0px;
    .navbar-inner {
	    margin-bottom: 0px;
	    min-height: 40px;
	    padding-right: 20px;
	    padding-left: 20px;
	    background: #080808;
	    filter: none;
	    text-shadow: 1px 1px 1px #0a0c0e;
	    border: none;
	    color: #fff;
	    border-radius: 0px;
	    border-bottom: 1px solid #38383D;
	    .container-fluid {
		    padding-right: 20px;
		    padding-left: 20px;
		    a {
			    color: #7b7b7b;
			    text-shadow: 0 -1px 1px #0b090a;
			    img {
				    height: auto;
				    max-width: 100%;
				    vertical-align: middle;
				    border: 0;
				}
			}
			.header-nav {
			    padding: 0px;
			    color: #fff !important;
			    background: #000 !important;
			    .nav {
		    		margin: 0px;
				    position: relative;
				    left: 0;
				    display: block;
				    float: left;
				    li {
					    float: left;
					    line-height: 51px;
					}
					a.btn {
					    color: #fff !important;
					    text-shadow: none !important;
					    padding: 15px 25px !important;
					}
					a{
						span{
						    margin-top: 2px;
						}
					}
				}
			}
		}
	}
}